*{
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
height: 75px;
width: 1600px;
left: 0px;
top: 0px;
border-radius: 0px; 
left: 0%;
right: 0%;
top: 0%;
bottom: 98.04%;
background: #222222;
line-height: 75px;
}
.item{
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer{
    height: 100px;
    background-color: #ccc;

}

.find{
left: 19.75%;
right: 78.63%;
top: 0.74%;
bottom: 98.56%;
position: absolute;

}
.Group{
position: absolute;
height: 38px;
width: 44px;
left: 231px;
top: 18px;
border-radius: 0px;
left: 14.44%;
right: 82.81%;
top: 0.47%;
bottom: 98.54%;
background: url(Group 2.svg);
}