.container{
}
.header{
position: absolute;
height: 75px;
width: 1600px;
left: 0px;
top: 0px;
border-radius: 0px; 
background: #222222;
line-height: 75px;
}
.Forma1{
height: 26.791973114013672px;
width: 26.001638412475586px;
left: 315.998046875px;
top: 18px;
border-radius: 0px;
position: absolute;
}
.Group2{
position: absolute;
height: 38px;
width: 44px;
left: 231px;
top: 18px;
bottom: 19px;
right: 1325px;
border-radius: 0px;
background: url(Group 2.svg);
}
.Forma2{
height: 23px;
width: 32px;
left: 1201px;
top: 10px;
bottom: 22px;
border-radius: 0px;
position: absolute;    
}
.Forma3{
    height: 23px;
    width: 32px;
    left: 1266px;
    top: 10px;
    bottom: 22px;
    border-radius: 0px;
    position: absolute;
}
.Forma4{
    height: 23px;
    width: 32px;
    left: 1328px;
    top: 10px;
    bottom: 22px;
    border-radius: 0px;
    position: absolute;
}
.block1{
width: 1600px;
height: 764px;
left: 0px;
top: 75px;
border-radius: 0px;   
position: absolute;
background: #F1E4E6;
}
.line{
height: 92px;
width: 12px;
left: 864px;
top: 364.90234375px;
border-radius: 0px;
background: #F16D7F;
position: absolute;
}

.textblock1{
height: 93.09912109375px;
width: 405px;
left: 864px;
top: 364.90234375px;
border-radius: 0px;
position: absolute;
}
.brand{
font-family: Lato, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
position: absolute;
}
.ofl{
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    }
.fash{
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    margin-left: 250px;
    text-align: left;
    color: #F16D7F;
    position: absolute;
}




.footer{
    height: 79px;
    width: 1600px;
    left: 0px;
    top: 3749px;
    border-radius: 0px;
    position: absolute;
    background: #222224;
    }
.textfoot{
        height: 19px;
        width: 332px;
        border-radius: nullpx;
        position: absolute;
        left: 235px;
        right: 1033px;
        top: 30px;
        bottom: 30px;
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;   
        }
        